// bower:scss
@import 'bourbon';
@import 'neatsettings.scss';
@import 'neat';
// endbower

// Variables

$background-color: #d5bb93;

// General Styles
html {
	font-size: em(10);
}

body {
	font-family: $helvetica;
  background-color: $background-color;
}

h1,
h2 {
	color: rgba(255,253,253,1);
	text-align: center;
}
h2,
h3,
footer p {
	font-weight: 700;
}

h3,
footer p {
	color: rgba(60,41,35,1);
}

// Helper Classes

.hide {
	visibility: hidden;
}

.display-none {
	display: none;
}

// Text styling

h1 {
	text-transform: uppercase;
	font-size: rem(128);
	letter-spacing: 2px;
	margin-bottom: 0;
}

.stroke {
	color: rgba(255,253,253,1s);
	-webkit-text-stroke: 1px rgba(60,41,35,1); /* stroke color and weight */
}

h2 {
	font-size: rem(40);
	margin-top: 0;
}

h3 {
	font-size: rem(32);
	margin: 0 0 1% 0;
}

footer p {
	font-size: rem(22.4);
}

main {
	position: relative;
	max-width: 550px;
	margin: 3% auto;
	padding: 3%;
	background-color: #a2b9df;
	border-radius: 18px;
}

// General form styling

label,
input {
	font-size: rem(27.2);
}

label {
	margin-left: 5px;
	color: rgba(60,41,35,1);
}

// Rap form styling
.rap-form {
	width: 100%;
}

.question {
	margin-bottom: 5%;
}

.question-one .answer-wrapper-1,
.question-one .answer-wrapper-3 {
	width: calc(100%/3);
}

.question-one .answer-wrapper-2,
.question-one .answer-wrapper-4 {
	width: calc((100%/3)*2);
}

.question-two .answer-wrapper {
	width: calc(100% / 3);
}

.answer-wrapper {
	padding: 5px 0;
	float: left;
}

// Rap answer styling

.rap-answer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	text-align: center;
	padding: 10% 8% 0 8%;
	font-size: rem(33.6);
	font-size: 700;
	color: rgba(60,41,35,1);
}

// Rap button styling

.rap-button {
	text-align: center;
}

input[type=submit] {
	padding: em(10);
	width: em(250);
	border-radius: em(8);
	border: 1p solid transparent;
	text-transform: uppercase;
	font-weight: 700;
	font-size: rem(28.8);
	background: rgba(80,53,47,1);
	color: rgba(255,253,253,1);
}

input[type=submit]:hover {
	text-decoration: underline;
}

.touch input[type=submit]:hover {
	text-decoration: none;
}

// reset button styles

.reset-button {
	margin: 2% auto;
	padding: em(10);
	width: em(200);
	background: rgba(168,169,22,1);
	border-radius: em(8);
	border: 1px solid transparent;
	font-weight: 700;
	text-align: center;
}

.reset-button a {
	padding: em(10) em(28);
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(255,253,253,1);
	font-size: rem(28.8);
}

.reset-button a:hover {
	text-decoration: underline;
}

.touch .resetButton a:hover {
	text-decoration: none;
}

// footer styling

footer {
	font-size: rem(19.2);
	text-align: center;
	margin: 2% 0;
}

footer a {
	text-decoration: none;
	color: rgba(60,41,35,1);
}

footer a:hover {
	color: rgba(255,253,253,1);
}
